#Menu ul {
	list-style-type: none;
	margin : auto;
	padding : auto;
	background-color : #333;
	overflow:hidden;
}

#Menu li {
	float: left;
	margin:auto;
}

#Menu li a {
	display : block;
	color : white;
	text-align: center;
	padding : 14px 16px;
	text-decoration: none;
}

#Menu ul li ul {
	display: none;
}

#Menu ul li:hover ul{
		display: block;
}

#Menu li:hover ul li{
	float: none;
}

#Menu li ul{
	position: absolute;
}

.alwaysOnTop{
	position:fixed;
	width : 100%;
	top:0;
}
html, body {
 margin: 0;
 padding: 0;
 }
body {
 background-color: white;
 font-family: Verdana, sans-serif;
 font-size: 100%;
 }
h1 {
 font-size: 200%;
 color: navy;
 text-align: center;
 }
h2 {
 font-size: 150%;
 color: crimson;
 padding-left: 80px;
 }

 h3 {
	 font-size: 120%;
	 color: black;
	 text-decoration: underline;
	 padding-left: 50px;
 }

.Moyenne {
		font-size: 100%;
		color: crimson;
		text-align: center;
}

table {
	border-collapse:  collapse;

}

th {
	border : 1px solid black;
	width: 250px;
	height: 20px;
	background-color : lightgrey;
}

td {
	border : 1px solid black;
	width: 250px;
	height: 15px;
	text-align: center;
}

li a:hover{
	background-color: #111;
}

canvas {
	padding-left: 20px,
}

p{
	padding-left: 30px;
}

h4{
	text-decoration-style: solid;
	font-size: 105%;
	padding-left: 30px;
}

h5{
	text-decoration: underline;
	padding-left: 20px;
}

.figure1{
	width: 50%;
	height:60%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	border: thin silver solid;
	padding-right:30px;
	margin: auto;
}

.figure2{
	width: 50%;
	height:45%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	border: thin silver solid;
	padding-right:30px;
	margin: auto;
}

.figure3{
	width: 50%;
	height:40%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	border: thin silver solid;
	padding-right:30px;
	margin: auto;
}

img.scaled{
	width:50%;
}

img.scaled2{
	width: 100%;
}

.tab{
	padding-left: 40px;
}

.justify{
	text-align: justify;
	padding-right: 15px;
	padding-left: : 15px;
}

.footer{
	font-size: 70%;
	font-style: italic;
}

.footerAccueil{
	bottom: 5px;
	right: 0;
	position: absolute;

	padding-right: 15px;
}
